.main-content {
  display: grid;
  grid-template-columns: 250px minmax(250px, 3fr) 250px;
  grid-template-rows: 1fr 50px;
  height: calc(100vh - 60px);
}
aside {
  margin: 2px;
  margin-top: 5px;
}
main {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
  background-color: #e6e3e3;
  grid-column: span 3;
  border-top: 1 px solid rgb(129, 126, 126);
}
footer .container {
  font-size: 14px;
}
p.question {
  line-height: 1rem;
}

